$mobileContainerWidth: calc(100% - 80px)
$mobileContainerMargin: 0 40px

.container
	width: 1024px
	margin: 0 auto
	position: relative
	@media(max-width: 1023px)
		width: $mobileContainerWidth
		margin: $mobileContainerMargin

.profileContent
	.container
		width: 632px
		@media(max-width: 768px)
			width: $mobileContainerWidth
			margin: $mobileContainerMargin