.profilePage
	background: $grey-1
	padding-bottom: 125px
	.user-pick
		border: 1px solid $gold-1
		border-radius: 50%
		overflow: hidden
		position: relative
		img
			width: 100%
			height: auto
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)

.profileHeader
	border-top: 1px solid $gold-1
	margin-bottom: 20px
	position: relative
	z-index: 8
	&:after
		content: ""
		display: block
		clear: both
		width: 100%
		height: 1px
		background: $grey-2
	.profile-miniInfo
		float: left
		width: 164px
		overflow: hidden
		padding: 12px 0 12px
		.user-pick
			float: left
			margin-right: 12px
			width: 39px
			height: 39px
		.user-name
			padding: 7px 0 2px
			float: left
			span
				display: block
			.name
				font-size: 12px
				color: $black-3
				padding-bottom: 4px
			.points
				font-size: 11px
				color: $black-1
	.nav-bar
		float: left
		margin-left: 37px
		&.active
			display: block
		@media(max-width: 768px)
			display: none
			position: absolute
			top: 67px
			right: -15px
			background: $white
			border: 1px solid $grey-2
			border-radius: 4px
			padding: 5px 15px 15px
			width: 250px
	.profile-nav
		li
			float: left
			font-size: 14px
			line-height: 14px
			padding: 0 31px
			@media(max-width: 768px)
				float: none
				padding: 0 10px
			a
				display: block
				color: $black-3
				text-decoration: none
				padding: 26px 0 23px
				margin-bottom: -2px
				@media(max-width: 768px)
					padding: 15px 0 5px
			&.active
				a
					border-bottom: 1px solid $gold-1
	.mobile-nav-trigger
		display: none
		cursor: pointer
		float: right
		width: 21px
		height: 21px
		margin-top: 22px
		position: relative
		rect
			fill: $black-3
		&:hover
			rect
				fill: $gold-1
		&.active
			rect
				fill: $gold-2
			&+.nav-bar
				display: block
			&+.nav-bar
				display: block
		@media(max-width: 768px)
			display: block

.profileContent
	.fields-block
		position: relative
		padding-top: 40px
		&:after
			content: ""
			display: block
			clear: both
			margin-top: 20px
			width: 100%
			height: 1px
			background-image: linear-gradient(to right, $gold-1 25%, rgba(255,255,255,0) 0%)
			background-size: 4px 1px
			background-repeat: repeat-x
	.profile-photo
		text-align: center
		.user-pick
			width: 100px
			height: 100px
			margin: 0 auto 25px
		.upload-btn
			margin-bottom: 15px
		.desc
			padding-bottom: 20px
	.profile-phone
		.field
			padding-bottom: 9px
			.field-label
				padding-top: 0
			a.service
				margin-top: 0
				margin-bottom: 10px
			.field-line
				&:last-child
					padding-bottom: 0
			.phone-input
				padding-bottom: 20px
	.profile-notification
		&:after
			content: none
		.field
			padding-bottom: 25px
			.field-label
				padding-top: 0


