.header
	background-color: $black-4
	height: 91px
	padding: 26px 0
	font-family: 'MuseoSansLight'
	font-size: 15px
	line-height: 13px
	position: relative
	z-index: 10
	.logo
		float: left
		width: 125px
		height: 39px
	.nav-bar
		float: left
		margin-left: 37px
		width: calc(100% - 167px);
		&.active
			display: block
		@media(max-width: 868px)
			display: none
			position: absolute
			top: 67px
			right: -15px
			background: $black-4
			border-radius: 4px
			padding: 15px
			width: 250px
		.main-nav
			li
				float: left
				@media(max-width: 868px)
					float: none
				a
					display: block
					color: $white
					text-decoration: none
					padding: 15px 34px 12px 32px
					&:hover
						color: $gold-2
					@media(max-width: 868px)
						padding: 15px
		.other-nav
			float: right
			@media(max-width: 868px)
				float: none
				border-top: 1px solid $white
			li
				float: left
				@media(max-width: 868px)
					float: none
				a
					display: block
					color: $white
					text-decoration: none
					padding: 15px 34px 12px 32px
					&:hover
						color: $gold-2
					@media(max-width: 868px)
						padding: 15px
				&:last-child
					a
						padding-right: 0
	.mobile-nav-trigger
		display: none
		cursor: pointer
		float: right
		width: 21px
		height: 21px
		margin-top: 9px
		position: relative
		rect
			fill: $white
		&:hover
			rect
				fill: $gold-1
		&.active
			rect
				fill: $gold-2
			&+.nav-bar
				display: block
		@media(max-width: 868px)
			display: block